body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.principal_box {
  width: 100%;
  max-width: 1200px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #fff;
  border-color: rgb(210, 210, 210);
  border-radius: 15px;
  border-style: groove;
}
.box1 {
  display: flex;
}

.pic {
  width:80px;
  display: flex;
  background-color: aquamarine;
  margin-right: 20px;
  margin-left: 20px;
  position:static;
}

.info_box {
  position:relative;
}

.tittle {
  color: rgb(58, 58, 58);
  font-size: 20px;
}
.button {
  background-color: rgb(176, 215, 246);
  border: none;
  display: inline-block;
  padding-inline: 19px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  color:rgb(58, 58, 58);
  list-style-type: none;

}

.link {
  text-decoration: none;
  color: rgb(58, 58, 58);
}

button:hover {
  background-color: aquamarine;
  border-bottom: 10px;
}



 // Second part

.value_box {
  display: flex;
  flex-direction: row;
  align-content: end;
  gap: 15px;
}

.icon {
  width: 50px;
}

.icon:hover {
  opacity: 40%;
}

.valor_number {
  background-color: rgb(195, 195, 195);
  border-radius: 25px;
  padding: 18px;
}